@mixin button {
    padding: 10px 0px;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
    &:focus{
      outline: none;
    }
  }
  
  @mixin mq($arg) {
    @media screen and (max-width: $arg) {
      @content;
    }
  }
  
@mixin boxes{
            // -webkit-box-shadow: 11px 13px 12px -6px rgba(0,0,0,0.57);
            // -moz-box-shadow: 11px 13px 12px -6px rgba(0,0,0,0.57);
            // box-shadow: 11px 13px 12px -6px rgba(0,0,0,0.57);
            background: $white;
            border-radius: 10px;
            border: 1px dashed $orange
}