.details-wrap {
  background-color: var(--sec-color);
  padding: 1.5rem;
}
.details-wrap .name {
  color: var(--primary-color);
}
.details-wrap p {
  font-size: 1rem;
}
.details-wrap .btn {
  width: auto;
  display: inline-block;
}
.details-wrap .br {
  margin: 1rem 0;
}
.skill {
  background: rgba(221, 85, 0, 0.123);
  /* color: white; */
  display: inline-block;
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  position: relative;
  border: 1px dashed var(--primary-color);
  margin: 0.5rem 1rem 0.5rem 0;
}
/* .form-group .skill::before {
  content: "x";
  position: relative;
  margin-right: 0.5rem;
  border: 1px solid black;
   padding: 0.1rem; 
  border-radius: 0%;
  color: var(--text-color);
} */
.wrap {
  margin-top: 2rem;
}
.wrap h3,
h3 i {
  color: #474747;
  font-size: 1.3rem;
}
.questionLink {
  background-color: var(--primary-color);
  position: fixed;
  color: white !important;
  bottom: 1rem;
  right: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 6px;
  transform: translateY(60vh);
  z-index: 150;
  animation: showModal 0.6s 2s forwards;
}
@media (max-width: 760px) {
  .questionLink {
    right: 0.5rem;
    left: 0.5rem;
    max-width: 95vw;
  }
}
@keyframes showModal {
  to {
    transform: translateY(0);
  }
}
.questionLink .btn,
.questionLink p {
  border-color: white;
  color: white;
}
.closeModal {
  position: absolute;
  top: 0.2rem;
  cursor: pointer;
  right: 0.5rem;
  color: white;
  font-size: 1.3rem;
}
