.cardSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.Card {
  width: 30%;
  margin: 1rem;
  background-color: var(--sec-color);
  padding: 1rem;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  transition: 0.3s;
  /* box-shadow: 0px 44px 100px 0px #e2e2e2; */
}
.Card a {
  display: inline-block;
}
.Card:hover {
  box-shadow: 0px 44px 100px 0px #e2e2e2;
}
.Card h3 {
  margin: 0.5rem 0;
}

@media (max-width: 800px) {
  .Card {
    min-width: 300px;
    margin: 1rem auto;
  }
}
@media (max-width: 500px) {
  .Card {
    width: 100%;
  }
}
