@import "../scss/mixin";
@import "../scss/variables";
@import "../scss/heading";

section.second{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    @include mq(600px){
        width: 90%;
    }

    .firstBlock{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 30px;

        @include mq(600px){
            flex-direction: column;
        }

        .details{
            @include boxes;
            padding: 20px;
            width: 40%;
            border-radius: 10px;
            @include mq(950px){
                width: 70%;
                margin-bottom: 20px;
            }
            @include mq(600px){
                width: 100%;
                margin-bottom: 20px;
            }
            p{
                color: $orange;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px;
                @include mq(600px){
                   font-size: 16px;
                }

            }
            .eachDetail{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
                @include mq(600px){
                    font-size: 14px;
                }
            }
         
        }
       
        
    }


    .thirdBox{
        width: 100%;
        margin-bottom: 30px;
        .full-bio{
            @include boxes;
            padding: 20px;
            width: 100%;
            margin: auto;
            border-radius: 10px;
            margin-bottom: 30px;
            @include mq(600px){
                width: 100%;
                margin-bottom: 20px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px;
                color: $orange;
                @include mq(600px){
                   font-size: 16px;
                }

            }
            .long-bio{
                font-size: 14px;
                font-weight: 400;
                color: $black;
                line-height: 28px;
                @include mq(600px){
                   font-size: 12px;
                }

            }
            

        }
    }

   
}