/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  padding: 1rem;
  margin-top: 4rem;
  color: white;
}
footer > div {
  display: flex;
  align-items: center;
}
footer p {
  font-size: 1rem;
}
footer *,
footer .logo {
  color: var(--sec-color) !important;
}
footer a,
footer p {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
  footer h1 {
    font-size: 1.5rem;
  }
  footer > div {
    margin: 0.4rem 0;
  }
  footer .link-last {
    margin-right: 0;
  }
}
