.App {
  background: var(--bg-color);
  width: 100vw;
  margin: 0 auto;
  width: 90vw;
  max-width: 1000px;
}
.main {
  padding-top: 80px;
}

.msg {
  position: fixed;
  background-color: rgb(4, 182, 4);
  border-radius: 5px;
  color: white;
  margin: 0.5rem auto;
  transform: translateX(150vw);
  padding: 0.5rem 4rem 0.5rem 2rem;
  width: auto;
  display: block;
  top: 0.5rem;
  right: 2rem;
  z-index: 100;
  -webkit-animation: msg 0.5s ease forwards;
  animation: msg 0.5s ease forwards;
}

@keyframes msg {
  to {
    transform: translateX(0);
  }
}
.hideMsg {
  display: none;
}
@media (max-width: 500px) {
  .msg {
    position: sticky;
    width: 95%;
    right: 0;
    padding: 0.5rem 1.5rem;
    transform: translate(0);
    clip-path: inset(0 0 100% 0);
    -webkit-animation: sm-msg 0.5s ease forwards;
    animation: sm-msg 0.5s ease forwards;
  }
  @keyframes sm-msg {
    to {
      clip-path: inset(0 0 0 0);
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--primary-color); */
  /* width: 100%; */
  padding: 1rem;
  margin-top: 4rem;
  color: white;
}
footer p {
  font-size: 1rem;
}
footer *,
footer .logo {
  color: var(--primary-color) !important;
}
